body {
  font-family: Helvetica;
  font-weight: 100;
}
h1 {
  font-weight: 100;
}
a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #a00000;
}
nav a {
  margin-right: 20px;
}
#current {
  color: #a00000;
}
#current:hover {
  color: #c00000;
}
p {
  line-height: 150%;
}
#quote {
  color: #50a000;
}
#quote:hover {
  color: #70c000;
}
